

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #c6c7c9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.content{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
}

.content-info{

    width: 600px;
}

.content-login{

    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.content-login-box{

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.69);
    border-radius: 8px;
}

.inputs{

    padding: 15px;
    height: 22px;
    border-radius: 6px;
    border: 1px solid rgb(0, 60, 255);
    outline: none;
    width: 90%;
    font-size: 17px;
    color: black;
}

.inputs:focus{

    border:3px solid blue;
}

.btn{

    padding: 15px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 100%;
    font-size: 1.1rem;
    transition: 0.2s;
}


a{

    color: blue;
    text-decoration: none;
    cursor: pointer;
}

a:hover{

    text-decoration: underline;
}

hr{

    width: 100%;
    border: 1px solid rgb(209, 207, 207);
}

p{

    text-align: center;
}

.btn-create-account{

    background-color: rgb(4, 194, 4);
}

.btn-enter{

    background-color: rgb(0, 60, 255);
}